:root {
  --main-color: #333333;
  --secend-color: #666666;
  --line-color: #eeeeee;

  --primary-color: #ff8d00;
  --primary-color2: #000000;
  --primary-color3: #216cff;
  --primary-color4: #e46a11;

  /* for TypeIt */
  --ti-cursor-margin-left: 0;

  /* for modal*/
  --modal-radius: 0.57rem;
}

#w3a-modal {
  z-index: 10 !important;
}

@font-face {
  font-family: "OpenSans-Medium";
  src: url("../public/fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("../public/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../public/fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans-Regular;
  color: var(--main-color);
  font-size: 14px;
  /* scale: 0.8; */
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.hFull {
  height: 100vh;
}

.full {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 1296px) {
  html {
    font-size: 11px;
  }
}
@media screen and (max-width: 1152px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width: 1008px) {
  html {
    font-size: 8px;
  }
}

.flex1 {
  flex: 1;
}

.font-sans-regular {
  font-family: OpenSans-Regular, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.font-sans-medium {
  font-family: OpenSans-Medium, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.font-sans-semibold {
  font-family: OpenSans-SemiBold, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

.ui.popup {
  padding: 0.6rem 0.8rem !important;
}

.ui.modal {
  border-radius: var(--modal-radius);
  box-shadow: unset;
}
.ui.modal > .header {
  border-top-left-radius: var(--modal-radius) !important;
  border-top-right-radius: var(--modal-radius) !important;
}

.ui.modal > .content:last-child,
.ui.modal > .actions {
  border-bottom-left-radius: var(--modal-radius) !important;
  border-bottom-right-radius: var(--modal-radius) !important;
}

.ui.page.dimmer {
  background: rgba(0, 0, 0, 0.5) !important;
}

.ui.card {
  border-radius: 0.57rem !important;
  border: 0.07rem solid #eeeeee !important;
  box-shadow: unset !important;
}

.clear-border {
  border: unset !important;
}

.no-padding {
  padding: unset !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* hidden */
.grecaptcha-badge {
  visibility: hidden;
}
